/***********************************/
/*    Global, site-wide styles     */
/***********************************/

/* Generic panel */
.panel {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background: rgba(24, 29, 38, 0.7) !important;
  border-radius: 20px;
  margin: 20px 0;
}
.fullwidth {
  width: 100%;
}

/* Generic title, usually at the top of a panel */
.title {
  font-size: 2em;
  color: white;
  text-shadow: #000 2px 2px 2px;
  -webkit-font-smoothing: antialiased;
}

/* Link to the wiki page, used throughout the site */
.wiki-link {
  
}


/* Title bars at the top of the page with product descriptions */
.product-title-bar {
  z-index: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background: rgba(24, 29, 38, 0.7) !important;
  border-radius: 20px;
}
.product-title-bar h1 {
  margin-bottom: 25px;
}
.product-title-bar-section {
  text-align: center;
  font-size: 0.7rem;
}
.product-title-bar-section {
  text-align: center;
  padding: 20px;
}
.product-title-bar-background {
  pointer-events: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.06;
}

/* Title */
.product-title {
  width: 100%;
}
.product-title img {
  max-width: 100px;
}
.product-title h1 {
  color: white;
  text-shadow: #000 2px 2px 2px;
  -webkit-font-smoothing: antialiased;
}

/***********************************/
/*    Fancy background designs     */
/***********************************/

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-carbon {
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.bg-carbon-fiber {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.bg-green-yellow {
  background: rgb(14 104 33);
  background: linear-gradient(114deg, rgb(14 104 33) 0%, rgb(133 90 0) 100%);
}

.bg-aqua {
  background: rgb(57 94 79);
  background: linear-gradient(114deg, rgb(66 114 76) 0%, rgb(25 37 62) 100%);
}

.bg-dark {
  background: rgb(27 33 42);
  background: radial-gradient(circle, rgb(36 44 56) 0%, rgb(12 20 20) 100%);
}

.bg-deep {
  background: rgb(20 20 20);
  background: radial-gradient(circle, rgb(20 20 20) 0%, rgb(26 35 42) 100%);
}